body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
main {
    display: grid;
    width:100%;
    background: #272327;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo"
    "date"
    "news"
    "nav"
    "address";
}
#logo {
    background: url(logo.jpg);
    background-color: #25222b;
    background-repeat: no-repeat;
    background-position: center;
    height: 163px;
    grid-area: logo;
}
aside {
    background: #f4e8dc;
    font-weight: bold;
    font-size: 18;
    padding: 30px 0;
    text-align: center;
    grid-area: date;
}
section {
    background: #fff;
    padding: 0 20px;
    grid-area: news;
}
.news {
    border-bottom: 4px solid #ccc;
}
/* wybierze ostatni  osttani element nie ma border*/
.news:last-child {
    border-bottom: none;
}
.news h2{
    font-size: 22px;
    margin-bottom: 0;
}
.news p {
    font-size: 16px;
    margin: 8px 0 12px;
}
.news .date {
    font-weight: 700;
}
nav {
    grid-area: nav;
}
nav a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 30px 0;
    text-align: center;
    font-weight: bold;
}
#accessibility {
    background: #f1e4d6;
}
#conduct {
    background: #e8ab3b;
}
#contact {
    background: #694703;
}
#faq {
    background: #caa077;
}
footer {
    background: #272327;
    color: #fff;
    padding: 30px 20px 10px 20px;
    grid-area: address;
}
footer .head {
    font-weight: 700;
}
@media (min-width: 500px) {
    main {
        width: 500px;
        /* 1 fr rozłóż po połowie */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 160px auto;
        grid-template-areas: 
        "date date"
        "news logo"
        "news nav"
        "address address"
    }
}
